BasedOnStyle: LLVM
IndentWidth: 4
ColumnLimit: 120
SortIncludes: false
AllowShortIfStatementsOnASingleLine: true
AllowShortBlocksOnASingleLine: true
AllowShortLoopsOnASingleLine: true
AllowShortFunctionsOnASingleLine: Inline
